<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>1006 Assignments</title>
        <link rel="Crown icon" href="/static/images/favicon.jpg">
    <head>
    <!--color formatting on background and header !-->
    <body style="background-color:#63b1e5;">
    <h3 style="background-color:LightGray;">Assignments for ENGI 1006 - Introduction to Computing (Spring 2020)</h3>
    
    <!--description !-->
    <p>This is a summary of the homework assignments for the "ENGI 1006 - Introduction to Computing
    for Engineers and Applied Scientists" class. The first half of the semester
    included a combination of theory and practice assignments, while the 
    second half was more focused on applications.
    <br>
    </p>
    <ul>
      <li><b>Homework 1A</b></li>
        <ul>
          <li>Theory assignment on pseudocode, basic algorithms, binary numbers 
          manupulation and truth tables.</li>
        </ul>
      <li><b>Homework 1B</b></li>
        <ul>
          <li>Design of a simple program with focus on structure and functions 
          use.</li>
          <li>Functions to execute different manipulations on lists.</li>
        </ul>
      <li><b>Homework 2A</b></li>
        <ul>
          <li>Theory assignment on sorting algorithms and time complexity.</li>
        </ul>
      <li><b>Homework 2B</b></li>
        <ul>
          <li>Physics simulation of a projectile with and without air 
          resistance. Included a graph describing the projectile motion.</li>
          <li>First steps towards building a machine learning application to 
          analyze data about breast cancer. Implementation of basic utility 
          functions for the dataset.</li>
        </ul>
      <li><b>Homework 3A</b></li>
        <ul>
          <li>Writing pseudocode to implement set-style operations with 
          lists.</li>
          <li>Comparing the time complexity of doing these operations with 
          lists or dictionaries.</li>
          <li>Implementation of recursive functions using python code. 
          Included exponential functions, permutations and palindrome
          detection.</li>
        </ul>
      <li><b>Homework 3B</b></li>
        <ul>
          <li>Writing a python module to solve the vertical percolation 
          problem. Used numpy.</li>
          <li>Additions to the machine learning application. Expand 
          utility functions and implement functions to provide statistics on 
          the dataset.</li>
        </ul>
      <li><b>Homework 4</b></li>
        <ul>
          <li>Assignment on Object-Oriented Programming (OOP).</li>
          <li>Modelling a class with a teacher, students and assignments. </li>
          <li>The homework focused on being able to read and understand an 
          object-oriented codebase and interpreting error messages to complete
          the library.</li>
        </ul>
      <li><b>Midterm</b></li>
        <ul>
          <li>Writing an application that takes as an input 3 PPM images 
          and outputs an image with unwanted objects removed.</li>
          <li>Also includes a function to convert an image to black and white, 
          and a function to flip an image horizontally. </li>
        </ul>
      <li><b>Homework 5</b></li>
        <ul>
          <li>Completing the machine learning library using multiple python
          libraries, like numpy, sklearn, pandas, and seaborn.</li>
          <li>This included providing statistics on the dataset, 
          plotting information about the data, and using scikit-learn to 
          implement the K Nearest Neighbors and Support Vector Machine
          classifier algorithms. </li>
          <li>We also implemented the KNN algorithm ourselves, and verifying
          the accuracy of each algorithm.</li>
        </ul>
      <li><b>Final</b></li>
        <ul>
          <li>You are seeing it rigth now!</li>
          <li>Using Flask and HTML to create a basic personal webpage.</li>
          <li>Also included an introduction to Git and GitHub.</li>
        </ul>
    </ul>
    <p>My favorite assignment this semester was Homework 5. I enjoyed seeing
    how the work of the last months resulted in a functioning machine learning
    application. The assignment combined many libraries that I found to be very
    useful. I also liked implementing the KNN algorithm by ourselves and seeing
    that it had over 90% accuracy.  
    <br>
    </p>
    
    <a href="/">Return to Main Page</a>

     
    </body>
</html>

