<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
        <link rel="Crown icon" href="/static/images/favicon.jpg">
    <head>
    <!--color formatting on background and header !-->
    <body style="background-color:#63b1e5;">
    <h3 style="background-color:LightGray;">Classes that I have taken this semester (Spring 2020) at Columbia</h3>
    <!--table with info on classes !-->
    <table style="width:60%">
      <tr>
        <th>Class name</th>
        <th>Class code</th>
        <th>Professor</th>
      </tr>
      <tr>
        <td>Intro to Computing for Engineers and Applied Scientists</td>
        <td>ENGI 1006 E</td>
        <td>Timothy K. Paine</td>
      </tr>
      <tr>
        <td>Calculus II</td>
        <td>MATH 1102 UN</td>
        <td>Michael Woodbury</td>
      </tr>
      <tr>
        <td>Physics II</td>
        <td>PHYS 1602 UN</td>
        <td>Jeremy R. Dodd</td>
      </tr>
      <tr>
        <td>Intermediate Macroeconomics</td>
        <td>ECON 3213 UN</td>
        <td>Stephanie Schmitt-Grohé</td>
      </tr>
      <tr>
        <td>University Writing</td>
        <td>ENGL 1010 CC</td>
        <td>Jeremy E. Stevens</td>
      </tr>
    </table>
    <!--favorite class so far!-->
    <p>My favorite class so far has been Physics. 
    The class gave me useful mathematical tools and physical intuition, and the topics were very interesting. 
    In particular, I enjoyed learning about electromagnetism and seeinng how the model fits together so neatly.
    Professor Dodd's demonstrations in class were always entertaining, and he is a great instructor and person.
    </p>

     
    </body>
</html>

