<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Main page</title>
        <link rel="Crown icon" href="/static/images/favicon.jpg">
    <head>
    <!--color formatting on background and header !-->
    <body style="background-color:#63b1e5;">
    <h2 style="background-color:LightGray;">Personal 1006 Homepage - Nicolas Hortiguera</h2>
    <p>Hello World!</p>
    <!--profile pictures and other images !-->
    <img src="/static/images/profile_picture.jpg" alt="Profile picture" width="200" height="200" hspace="10">
    <img src="/static/images/campus_from_the_air.jpg" alt="Columbia" width="533" height="200" hspace="10">
    <img src="/static/images/buenos_aires.jpg" alt="Buenos Aires" width="300" height="200" hspace="10">
    
    <!--list of items with information !-->
    <ul>
      <li>Name: Nicolas Hortiguera</li>
      <li>Year: Freshman (SEAS Class of 2023)</li>
      <li>Current GPA: 4.1337</li>
      <li>Intended Major: Applied Math</li>
    </ul>
     
    </body>
</html>

