<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Main page</title>
    <head>
    <!--color formatting on background and header !-->
    <body style="background-color:#63b1e5;">
    <h2 style="background-color:LightGray;">Personal 1006 Homepage - Nicolas Hortiguera</h2>
    <p>Hello World!</p>
    <!--list of items with information !-->
    <ul>
      <li>Name: Nicolas Hortiguera</li>
      <li>Year: Freshman (SEAS Class of 2023)</li>
      <li>Current GPA: 4.1337</li>
      <li>Intended Major: Applied Math</li>
    </ul>
    </body>
</html>

